.image-container {
  display: flex;
  margin: auto 0;
  flex-wrap: wrap;
  width: 100vw;
  gap: 1rem;
  height: 100vh;
  justify-content: center;
}
.top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.top-container img,
.bottom-container img {
  width: 48%;
  border: rgb(150, 204, 181) 0.5px solid;
}
body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
