/*Main page*/

@import url("https://use.typekit.net/ngn5hxk.css");
/*  

font-family: "regulator-nova", sans-serif;
font-weight: 500;
font-style: normal;

font-family: "regulator-nova-cameo", sans-serif;
font-weight: 400;
font-style: normal;

*/

.language-container {
  width: 100%;
  height: 100vh; /* Neemt 100% van de viewport hoogte in */
  background-color: lightblue;
  margin: 0; /* Zorgt ervoor dat er geen ruimte tussen de div en de randen van het scherm is */
  padding: 0; /* Zorgt ervoor dat er geen ruimte binnen de div is */
  display: flex;
}

.french-container {
  width: 50%;
  background-color: rgb(255, 255, 255);
}

.french-container a {
  text-decoration: none;
  color: black;
  font-family: "regulator-nova", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.dutch-container a {
  text-decoration: none;
  color: white;
  font-family: "regulator-nova", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.dutch-container {
  background-color: rgb(0, 0, 0);
  width: 50%;
}

.dutch-container,
.french-container {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}
.dutch-container a,
.french-container a {
  display: flex;
  justify-content: center;
}
.image-container a {
  display: flex;
  margin: auto 0;
  flex-wrap: wrap;
  width: 100vw;
  gap: 1rem;
  height: 100vh;
  justify-content: center;
}
.top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
}
.top-container h1 {
  font-size: 120%;
  font-weight: 500;
  font-family: "regulator-nova", sans-serif;
  text-align: center;
  padding: 3rem;
  color: #9b9b9b;
}
.top-container h2 {
  font-size: 100%;
  font-weight: 500;
  font-family: "regulator-nova", sans-serif;
  text-align: center;
  padding: 1rem;
}
.bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.top-container img,
.bottom-container img {
  width: 48%;
  border: rgb(150, 204, 181) 0.5px solid;
}
body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.overlay {
  display: none;
  width: 100vw;
  justify-content: center;
  background-color: white;
  padding: 5rem;
}
.overlay-wrap {
  display: flex;
  flex-direction: column;
}
.overlay img {
  max-width: 40%;
  min-width: 10rem;
}
.show-overlay {
  display: block;
}
.overlay-text {
  display: none;
  color: white;
  height: 50vw;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
  align-items: center;
}
.overlay-text h1 {
  font-size: 200%;
  font-weight: 500;
  font-family: "regulator-nova", sans-serif;
}

.overlay-text p {
  font-size: 80%;
  font-weight: 500;
  font-family: "regulator-nova", sans-serif;
  padding: 0.5rem;
}
.overlay-text .hidden {
  display: none;
}
